{% extends 'base.html' %}
{% block content %}

<div class="content">
    <div class="">
        <div class="page-header-title">
            <h4 class="page-title">Devices Activos en el momento</h4>
            <!--- 
            <div style="text-align:right;">
                <button type="button" class="btn btn-success waves-effect waves-light"
                        onClick=" window.location.href='/devicecreate' " style="text-align:center;">+
                </button>
            </div>
            --->
        </div>
    </div>

    <br>

    <div class="page-content-wrapper">
        <div class="container">
            <!-- Content page -->

            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="/deviceSede" method="GET">
                        <label>Elija la sede para la que quiere ver los dispositivos activas</label>
                        <input id="sede" name="sede" type="text"/>
                        <input type="submit" ></button>
                    </form>
                    <p>{{sede}}</p>
                    <table class="table table-hover">
                        <thead>
                        <tr style="color:#0E2EB0">
                            <th font color="red">Site</th>
                            <th>Active</th>
                            <th>Code</th>
                            <th>Builder</th>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Type</th>
                            <th>Date Maintainance</th>
                        </tr>
                        </thead>
                        <tbody>
                        
                        {% for device in device_list %}
                            {% if device.site.name == sede %}
                                <tr>
                                    <td>{{ device.site.name }}</td>
                                    <td>{{ device.active }}</td>
                                    <td>{{ device.code }}</td>
                                    <td>{{ device.builder }}</td>
                                    <td>{{ device.name }}</td>
                                    <td>{{ device.amount }}</td>
                                    <td>{{ device.type }}</td>
                                    <td>{{ device.dateMaintainance }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}

                        </tbody>
                    </table>

                    <div style="text-align:center;">
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                                onClick=" window.location.href='/' ">
                            Back
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}