{% extends 'base.html' %}
{% block content %}

<div class="content">
    <div class="">
        <div class="page-header-title">
            <h4 class="page-title">VitalSigns</h4>
            <div style="text-align:right;">
                <button type="button" class="btn btn-success waves-effect waves-light"
                        onClick=" window.location.href='/vitalSigncreate' " style="text-align:center;">+
                </button>
            </div>
        </div>
    </div>

    <br>

    <div class="page-content-wrapper">
        <div class="container">
            <!-- Content page -->

            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table table-hover">
                        <thead>
                        <tr style="color:#0E2EB0">
                            <th>Temperature</th>
                            <th>Pulse</th>
                            <th>Respiratory frequency</th>
                            <th>Arterial pressure</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for vitalSign in vitalSign_list %}
                        <tr>
                            <td>{{ vitalSign.temperature }}</td>
                            <td>{{ vitalSign.pulse }}</td>
                            <td>{{ vitalSign.respiratoryFrequency }}</td>
                            <td>{{ vitalSign.arterialPressure }}</td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    <div style="text-align:center;">
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                                onClick=" window.location.href='/' ">
                            Back
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}